{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}None of the members of <strong>{group_name}</strong> are subscribed to this channel, so mentioning the group won't notify anyone.{{/tr}}
    </p>
{{/compose_banner}}